<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>欢迎您使用《借书圈》IOS app, <%= @user.user_name %></h1>
<p>
  您的密码是: <%= @user.password %> <br>
</p>
</body>
</html>